{% extends "base.html" %}

{% block title %}Contact - John Markowitz{% endblock %}

{% block content %}
<div id="wrapper" class="portfolio">
	<div class="wrapper-holder">
		<header id="header">
			<a class="menu_trigger" href="#">menu</a>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="myskills.html">My skills</a></li>
						<li><a href="Portfolio.html">Portfolio</a></li>
						<li><a class="active" href="Contact.html">Contact</a></li>
					</ul>
				</nav>
		</header>
	</div>
	<div class="wrapper-holder grey">
		<section id="main">
			<div class="images_holder"><img src="images/pic_08.png" alt=""></div>
			<div class="box_contact">
				<span class="email">john_markowitz@gmail.com</span>
				<span class="phone">+45 532 823 385</span>
				<span class="skype">J_mwitz</span>
			</div>
			<div class="clear"></div>
		</section>
	</div>
	<footer id="footer">
		<div class="footer-content">
			<ul class="social">
				<li class="email"><a href="#">Email</a></li>
				<li class="facebook"><a href="#">Facebook</a></li>
				<li class="google"><a href="#">Google+</a></li>
				<li class="twitter"><a href="#">Twitter</a></li>
				<li class="pinterest"><a href="#">Pinterest</a></li>
			</ul>
			<p class="copy">Copyright 2014 John Markowitz. All rights reserved.</p>
		</div>
	</footer>
</div>
{% endblock %}
