table, tr{
    border-collapse: collapse;
    border : 1px solid black;
}
th{
    border-collapse: collapse;
    border : 1px solid black;
    font-size : 25px;
}
td{
    padding : 5px 5px;
    text-align: center;
}
/* td:nth-child(5n) {
    border-right: 1px solid black;
} */
.answer {
    border : 1px solid black;
    background-color: rgb(255, 71, 71);
    color : white;
    cursor : pointer;
}