div {
    border: 1px solid #000;
    margin-bottom: 20px;
}
.box1 {
    width : 400px;        /* 고정 너비 */
    height : 100px;       /* 고정 높이 */
    padding : 20px;
    border : 5px solid black;
    box-sizing : content-box;
    /* content를 기준으로 박스 크기 지정(default) */
    border-style: dotted;
}
.box2 {
    width : 400px;
    height : 100px;
    padding : 20px;
    border : 5px solid black;
    box-sizing : border-box;
    /* border를 기준으로 박스 크기 지정 */
    border-style: dashed;
}
.box3 {
    width : 70%;          /* 가변 너비 */
    height : 100px;       /* 고정 높이 */
    padding : 20px;
    border : 5px solid black;
    border-style: double;
}