table{
    width: 100%;
}
table, th, td{
    border-collapse: collapse;
    border : 1px solid black;
    text-align: center;
}
th, td{
    padding : 5px 10px;
}
th{
    background-color: rgb(225, 242, 255);
}